In [47]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        # replaced the code that's commented out below
        # the sqlite3.version and sqlite3.version_info attributes have been deprecated
        #print(sqlite3.version)
        print("Connected to SQLite database")
        print("SQLite version:", conn.execute("SELECT sqlite_version()").fetchone()[0])
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

Connected to SQLite database
SQLite version: 3.46.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [2]:
# check to make sure database file is in the working directory
!pwd

/Users/grace/Documents/GitHubRepos/springboard/SQL_Case_Study_Tier_1

In [3]:
!ls

LocalSQLConnection.py     SQLTasks Tier 1.sql       localsqlconnection.ipynb
README.md                 Untitled.ipynb            sqlite_db_pythonsqlite.db

In [69]:
# try to modify the select_all_tasks function by creating a new query that 
# returns all the field names in Facilities table 

def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()

    # define all queries
    query1 = "SELECT * From Facilities LIMIT 2"
    query2 = "SELECT * From Bookings LIMIT 1"

    # execute and print 1st query
    cur.execute(query1)
    q1_column_names = [desc[0] for desc in cur.description] # Description is a special attribute of the cursor that contains 
                                                            # metadata about the columns in your result set. It's automatically 
                                                            # populated after you execute a query. 
                                                            # It returns a tuple of tuples, where each inner tuple describes 
                                                            # one column
    q1_result = cur.fetchall()  # retrieves all the result rows from the database server and brings them 
                                # into your Python program as a list of tuples (or rows). 
                                # Each tuple represents one row from your query results.
    print('\n') 
    print('Query 1: Column_names :') # prints the column names
    print(q1_column_names) # prints the columns
    print('Query 1: Results :') 
    print(q1_result) # prints rows of table values
    for row in q1_result:
        print(row)
    print('\n') 
    # execute and print 2nd query
    cur.execute(query2)
    q2_column_names = [desc[0] for desc in cur.description]
    q2_result = cur.fetchall()
    print('Query 2: Column_names :') # prints the column names
    print(q2_column_names) # prints the column names
    print('Query 2: Results :')
    print(q2_result) # prints a single row of table values
    for row in q2_result:
        print(row)

In [70]:
# play with the modified query code above on the database file
# to get a feel for how it works

if __name__ == '__main__':
    main()

Connected to SQLite database
SQLite version: 3.46.0
2. Query all tasks


Query 1: Column_names :
['facid', 'name', 'membercost', 'guestcost', 'initialoutlay', 'monthlymaintenance']
Query 1: Results :
[(0, 'Tennis Court 1', 5, 25, 10000, 200), (1, 'Tennis Court 2', 5, 25, 8000, 200)]
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)


Query 2: Column_names :
['bookid', 'facid', 'memid', 'starttime', 'slots']
Query 2: Results :
[(0, 3, 1, '2012-07-03 11:00:00', 2)]
(0, 3, 1, '2012-07-03 11:00:00', 2)

**Q10:** Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

Draft query and test it in PHP platform until it works:

SELECT name, 
    SUM(
        CASE
            WHEN firstname = 'GUEST' THEN (guestcost * slots)
            ELSE (membercost * slots)
        END 
    ) AS total_rev
FROM Facilities AS f
LEFT JOIN Bookings AS b ON f.facid = b.facid
LEFT JOIN Members AS m ON m.memid = b.memid
GROUP BY name
HAVING SUM(
        CASE
            WHEN firstname = 'GUEST' THEN (guestcost * slots)
            ELSE (membercost * slots)
        END 
    )<1000
ORDER BY total_rev DESC;

In [73]:
# Plug the query into the select_all_tasks function

def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()

    # define all queries
    query1 = SELECT f.name, 
    SUM(CASE
            WHEN firstname = 'GUEST' THEN (guestcost * slots)
            ELSE (membercost * slots)
        END 
    ) AS total_rev
    FROM Facilities AS f
    LEFT JOIN Bookings AS b ON f.facid = b.facid
    LEFT JOIN Members AS m ON m.memid = b.memid
    GROUP BY f.name
    HAVING SUM(
        CASE
            WHEN firstname = 'GUEST' THEN (guestcost * slots)
            ELSE (membercost * slots)
        END 
    )<1000
    ORDER BY total_rev DESC;
    
    # execute and print 1st query
    cur.execute(query1)
    q1_column_names = [desc[0] for desc in cur.description] # Description is a special attribute of the cursor that contains 
                                                            # metadata about the columns in your result set. It's automatically 
                                                            # populated after you execute a query. 
                                                            # It returns a tuple of tuples, where each inner tuple describes 
                                                            # one column
    q1_result = cur.fetchall()  # retrieves all the result rows from the database server and brings them 
                                # into your Python program as a list of tuples (or rows). 
                                # Each tuple represents one row from your query results.
    print('\n') 
    print('Query 1: Column_names :') # prints the column names
    print(q1_column_names) # prints the columns
    print('Query 1: Results :') 
    print(q1_result) # prints rows of table values
    for row in q1_result:
        print(row)
    print('\n')

SyntaxError: invalid syntax (921432922.py, line 10)