In [1]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

/var/folders/zg/81kjn_8j4692tlw3f6q33h6w0000gq/T/ipykernel_35825/1913378692.py:14: DeprecationWarning: version is deprecated and will be removed in Python 3.14
  print(sqlite3.version)

In [2]:
!pwd

/Users/grace/Documents/GitHubRepos/springboard/SQL_Case_Study_Tier_1

In [3]:
!ls

LocalSQLConnection.py     SQLTasks Tier 1.sql       localsqlconnection.ipynb
README.md                 Untitled.ipynb            sqlite_db_pythonsqlite.db

In [12]:
# try to modify the select_all_tasks function by creating a new query that 
# returns all the field names in Facilities table 

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = "SELECT * From Facilities LIMIT 1"
    cur.execute(query1)
    #column_names = [row[0] for row in cur.fetchall()]
    column_names = [desc[0] for desc in cur.description]
    print(column_names)

In [13]:
# re-run the modified code on the database file
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
['facid', 'name', 'membercost', 'guestcost', 'initialoutlay', 'monthlymaintenance']

/var/folders/zg/81kjn_8j4692tlw3f6q33h6w0000gq/T/ipykernel_35825/2198369170.py:14: DeprecationWarning: version is deprecated and will be removed in Python 3.14
  print(sqlite3.version)

Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!